body {
  background-color: #ffffff;
}

.collage {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 60vw;
  margin: auto;

  .photo {
    display: flex;
    width: 33.33333%;

    img {
      width: 70%;
      justify-content: center;
    }

    &.grid-2 {
      animation: spin-center-grid-2;
      animation-duration: 5s;
    }

    &.grid-4 {
      transform: translateY(100%);
      animation: spin-center-grid-4;
      animation-duration: 5s;
      animation-delay: 5s;
      animation-fill-mode: forwards;
    }

    &.grid-6 {
      transform: translateY(-100%);
      animation: spin-center-grid-6;
      animation-duration: 5s;
      animation-delay: 10s;
      animation-fill-mode: forwards;
    }

    &.grid-8 {
      transform: translateX(100%);
      animation: spin-center-grid-8;
      animation-duration: 5s;
      animation-delay: 15s;
    }
  }

  .text {
    display: flex;
    width: 33.33333%;

    img {
      width: 50%;
      margin-left: 10px;
      justify-content: center;
      animation-name: shrink-grow;
      animation-duration: 5s;
      animation-delay: 5s;
      animation-direction: alternate;
    }

    .sprite-container-1 {
      width: 430px;
      height: 200px;
      justify-content: center;
      background: url("../images/playpen-1/do-they-know.png") 0 0 no-repeat;
      animation: do-they-know 3s steps(11);
      animation-delay: 5s;
    }
    .sprite-container-2 {
      width: 310px;
      height: 200px;
      background: url("../images/playpen-1/does-this-sound-gay.png") 0 0
        no-repeat;
      animation: does-this-sound-sprite 3s steps(13);
      animation-delay: 5s;
    }
  }
}

@keyframes does-this-sound-sprite {
  to {
    background-position: -4172px;
  }
}

@keyframes do-they-know {
  to {
    background-position: -5000px;
  }
}

@keyframes shrink-grow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: scale(1.2);
  }
}

@keyframes spin-center-grid-2 {
  from {
    transform: translateX(-100%);
  }
}

@keyframes spin-center-grid-4 {
  to {
    transform: translateY(-0%);
  }
}

@keyframes spin-center-grid-6 {
  to {
    transform: translateY(-0%);
  }
}

@keyframes spin-center-grid-8 {
  to {
    transform: translateX(0%);
  }
}
