body {
  background-color: #ffffff;
}

.collage {
  display: flex;
  flex-flow: row wrap;

  .photo {
    display: flex;
    width: 33.33333%;

    img {
      width: 70%;
      justify-content: center;
    }

    &.grid-2 {
      animation: spin-center-grid-2;
      animation-duration: 5s;
    }

    &.grid-4 {
      animation: spin-center-grid-4;
      animation-duration: 5s;
    }

    &.grid-6 {
      animation: spin-center-grid-6;
      animation-duration: 5s;
    }

    &.grid-8 {
      animation: spin-center-grid-8;
      animation-duration: 5s;
    }
  }

  .text {
    display: flex;
    width: 33.33333%;

    img {
      width: 50%;
      margin-left: 10px;
      justify-content: center;
      animation-name: shrink-grow;
      animation-duration: 5s;
      animation-delay: 5s;
      animation-direction: alternate;
    }
  }
}

@keyframes shrink-grow {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: scale(1.2);
  }
}

@keyframes spin-center-grid-2 {
  0% {
    transform: translateY(100%) rotateZ(0deg) scale(0);
  }

  100% {
    transform: translateY(0%) rotateZ(360deg);
  }
}

@keyframes spin-center-grid-4 {
  0% {
    transform: translateX(100%) rotateZ(0deg) scale(0);
  }

  100% {
    transform: translateX(0%) rotateZ(360deg);
  }
}

@keyframes spin-center-grid-6 {
  0% {
    transform: translateX(-100%) rotateZ(0deg) scale(0);
  }

  100% {
    transform: translateX(0%) rotateZ(360deg);
  }
}

@keyframes spin-center-grid-8 {
  0% {
    transform: translateY(-100%) rotateZ(0deg) scale(0);
  }

  100% {
    transform: translateY(0%) rotateZ(360deg);
  }
}
