body {
  background-color: #ffffff;
}

.collage {
  display: flex;
  flex-flow: row wrap;

  .photo {
    display: flex;
    width: 33.33333%;

    img {
      width: 70%;
      justify-content: center;
    }
  }

  .text {
    display: flex;
    width: 33.33333%;

    img {
      width: 50%;
      margin-left: 10px;
      justify-content: center;
      animation-name: shrink-grow;
      animation-duration: 5s;
      animation-direction: alternate;
      animation-iteration-count: infinite;
    }
  }
}

@keyframes shrink-grow {
  10% {
    transform: translateX(10px);
  }

  15% {
    transform: translateX(-20px);
  }

  20% {
    transform: translateX(25px);
  }

  50% {
    transform: translateY(-72px);
    transform: scale(-1.7);
  }

  100% {
    display: none;
  }
}
