/*  */
/* Main */
/*  */

html {
    background-color: rgba(248, 245, 245, 0.767);
}

body {
    /* display:block; */
    width: 85%;
    margin: 5% auto;
    background-color: white;
    border: .5px solid black;
    box-shadow: 5px 7px rgb(121, 121, 121);
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

a {
    color: rgb(197, 55, 55);
}

a:hover {
    color: rgb(250, 207, 150);
}


/*  */
/* Landing Page */
/*  */

#container-tagline {
    display: block;
    margin-top: auto;
}

#tagline {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    text-align: center;
    color: rgb(149, 90, 245);
    letter-spacing: .1em;
}

#sub-tagline {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    color: rgb(252, 185, 2);
}

.mini-bio {
    display: flex;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
    text-align: justify;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    word-spacing: 0.001em;
    color: rgb(48, 47, 47)
}


.g-names {
    height: 500px;
    width: 500px;
    margin: 0 auto;

}

button {
    display: block;
    margin: 30px auto;
    padding: 10px 10px;
    font-size: 20px;
    background-color: white;
    color: rgb(85, 85, 85);
}

.nav-links-all {
    display: flex;
    justify-content: center;
}

.nav-links-all div {
    padding: 15px;
    margin: 20px auto;
}


/*  */
/* Stories Page */
/*  */

/* Masonry */

.grid {
    margin: 5% auto
}

.grid-item {
    border-style:inset;
    border-width: 2px;
    border-color: rgb(197, 55, 55);
    width: 230px;
    height: 300px;
    margin-bottom: 10px;
}

.image {
    position: relative;
    height: 100%;
    width: 100%;
}

img {
    position: relative;
    height: 100%;
    width: 100%
}

.story-title {
    position: absolute;
    text-align: center;
    top: 10%;
    left: 0;
    right: 0;
    color: black;
    background-color: white;
    font-family: monospace;
    font-weight: lighter;
    font-size: 25px;
    visibility: hidden;
    opacity: .7
}

.image:hover .story-title {
    visibility: visible;

}

.image:hover img {
    filter: grayscale(100%);
}



#stories-text {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 8%;
    margin-right: 8%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    word-spacing: 0.001em;
    color: rgb(48, 47, 47)
}

/* Responsiveness */
/* @media(max-width: 768px) {
    .mini-bio {
        font-size: 12px
    }
} */