
html {
    background-color: rgba(248, 245, 245, 0.767);
}

body {
    /* display:block; */
    width: 65%;
    margin: 5% auto;
    background-color: white;
    border: 2px dashed firebrick;
    box-shadow: 5px 7px rgb(121, 121, 121);
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

/* Responsiveness */
@media(max-width: 768px) {
    .mini-bio {
        font-size: 12px
    }
}

a {
    color: firebrick;
}

a:hover {
    color: rgb(150, 250, 250);
}

/* a:visited {

    color: rgb(56, 56, 56)

} */

#container-tagline {
    display: block;
    margin-top: auto;
}

#tagline {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    text-align: center;
    color: rgb(149, 90, 245);
    letter-spacing: .1em;
}

#sub-tagline {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    color: rgb(252, 164, 2);
}

.mini-bio {
    display: table;
    margin: 30px auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    word-spacing: 0.001em;
    color: rgb(48, 47, 47) */
}

.mini-bio p {
    display: table-cell;
    margin: 0;
    padding: 50px;
    vertical-align: middle;
    text-align: justify;
}

/* #img-penguin {
    display: block;
    margin: 0 auto;
    height: 300px;
    width: 400px;
}

#img-penguin:hover {
    height: 700px;
    width: 800px;
} */

.g-names {
    height: 500px;
    width: 500px;
    border: 1px solid black;
    margin: 0 auto;

}

button {
    display: block;
    margin: 30px auto;
    padding: 10px 10px;
    font-size: 20px;
}

.nav-links-all {
    display: flex;
    justify-content: center;
}

.nav-links-all div {
    padding: 15px;
    margin: 20px auto;
}


